<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/cat.css" />
    <script src="/scripts/jquery.js"></script>
  </head>

  <body>
    <h1><%= title %></h1>
    <h5>This is the AVG page</h5>
    <p>Welcome to <%= title %></p>
    <% data.forEach(function(data){ %>
    <div>
      <form action="/<%=data.Field%>" method="POST">
        <p><%=data.Field%></p>
        <input type="submit" name="<%=data.Field%>" />
      </form>
    </div>
    <%})%>
  </body>
</html>
